<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta de falafel</title>
</head>
<body>
    <h1>Receta de Falafel</h1>
    <p>El falafel, con sus raíces profundas en la cocina de Medio Oriente, no solo es un bocado delicioso sino también una forma nutritiva de incorporar proteínas vegetales a nuestra dieta. 
        <br>Este plato, hecho a base de garbanzos o habas, es popular en todo el mundo por su versatilidad y sabor. 
    </p>
    <hr>
    <h2>Ingredientes</h2>
    <ul>
        <li>250 g de garbanzos secos.</li>
        <li>1 cebolla pequeña, cortada en cuartos.</li>
        <li>2 dientes de ajo.</li>
        <li>2 cucharadas de perejil fresco picado.</li>
        <li>2 cucharadas de cilantro fresco picado.</li>
        <li>1 cucharadita de comino molido.</li>
        <li>1 cucharadita de sal.</li>
        <li>1/2 cucharadita de pimienta negra molida.</li>
    </ul>
    <hr>
    <h2>Pasos a seguir</h2>
    <ol>
        <li>
            Remoja los garbanzos en agua durante al menos 12 horas antes de cocinar. Escurrir y secar.
        </li>
        <br>
        <li>
            En un procesador de alimentos, combina los garbanzos, la cebolla, el ajo, el perejil, el cilantro, el comino, la sal y la pimienta. 
            Procesa hasta obtener una mezcla homogénea.
        </li>
        <br>
        <li>
            Transfiere la mezcla a un bol y agrega el bicarbonato de sodio. Mezcla bien y deja reposar en el refrigerador durante 1 hora.
        </li>
        <br>
        <li>
            Forma bolas pequeñas o discos con la masa y aplánalos ligeramente.
        </li>
        <br>
        <li>
            Calienta aceite en una sartén a fuego medio-alto. Fríe los falafel por 3-4 minutos de cada lado o hasta que estén dorados y crujientes.
        </li>
        <br>
        <li>
            Escurre en papel absorbente antes de servir.
        </li>
    </ol>
    <hr>
    <a href="https://recetasarabes.com/receta/falafel-receta-autentica-original/" target="_blank">Leer receta similar en <strong>Recetas arabes</strong></a>
    <br>
    <a href="receta1.html" target="_blank">Leer receta de empanadas de soja</a>
    <br>
    <a href="../../Index.html" target="_blank">Volver al <strong>Inicio</strong></a>
</body>
</html>