<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empanadas de soja</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <h1>Receta de Empanadas de soja texturizada</h1>
    <img src="https://www.lanacion.com.ar/resizer/v2/empanadas-de-carne-vegetal-con-pasas-de-RO6NGLT2ZVCFHEPUVOZYQOWNF4.jpg?auth=7a693a0db8dbb59d94953a5212fd7a1632df1270e083c03c175373771ed57e44&width=880&height=586&quality=70&smart=true" alt="Imagen de empanadas de soja" width="500" height="250">
    <p class="descrip">Las empanadas son un plato típico argentino. Sin embargo, las opciones para quienes deciden llevar una dieta libre de productos de origen animal es algo limitada. 
        <br> Es por ello que, en esta ocasión, queremos compartir contigo esta receta de empanadas de soja texturizada.
    </p>
    <hr>
    <h2>Ingredientes</h2>
    <ul>
        <li>50 gramos de soja texturizada</li>
        <li>1 cebolla</li>
        <li>¼ morrón verde</li>
        <li>¼ morrón rojo</li>
        <li>1 cucharadita de provenzal</li>
        <li>1 cucharada postre de pimentón ahumado</li>
        <li>1 cucharadita de cúrcuma</li>
        <li>1 cucharada sopera de salsa de inglesa</li>
    </ul>
    <hr>
    <h2>Pasos a seguir</h2>
    <ol>
        <li>Para empezar con la receta de las empanadas de soja texturizada, primero hidrata la soja con suficiente agua caliente para taparla, 
            también añade la salsa inglesa, que aportará sabor y color.   
        </li>
        <br>
        <li>
            Pela y pica la cebolla. También lava y pica los morrones para saltear todos los vegetales en una sartén a fuego máximo con 1 cucharada de aceite. 
            Cuando la cebolla esté transparente, baja el fuego a medio y continúa salteando hasta que estén bien cocidos. <br>
            <em><Strong>Truco</Strong>: si se llegan a secar, puedes agregar 1 o 2 cucharadas de agua caliente para levantar el fondo de cocción.</em>
        </li>
        <br>
        <li>
            Cuando los vegetales estén cocidos, agrega la soja hidratada, unas cucharadas del líquido donde la habías hidratado. 
            Saltea durante unos 10 minutos y agrega más de este líquido si se está secando, ya que buscamos obtener un relleno húmedo y jugoso. 
            <br>Luego, retira y condimenta la soja texturizada al gusto con, por ejemplo, provenzal, pimentón ahumado, ají molido y cúrcuma.
        </li>
        <br>
        <li>
            Cuando el relleno esté frío, podrás rellenar tus empanadas de soja texturizada. Para ello, humedece la mitad del borde para que, al cerrarlo, se selle perfectamente. 
            <br>Puedes hacer el repulgue que más te guste e ir disponiendo las empanadas con el cierre hacia arriba en una asadera previamente aceitada.
        </li>
        <br>
        <li>
            Cocinarlas en el horno precalentado fuerte a 200 °C durante 20 minutos. <br>
            <em>Si lo deseas y consumes huevo, puedes pintarlas para que se doren mejor.</em>
        </li>
        <br>
        <li>
            Pasado el tiempo indicado, podrás disfrutar de tus empanadas de soja texturizada. ¡A comer! 
        </li>
    </ol>
    <hr>
    <iframe width="500" height="250" src="https://www.youtube.com/embed/AtdGvd0vScw" title="🔶 Como hacer EMPANADAS argentina VEGANAS (con receta de MASA integral casera)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <hr>
    <a href="https://www.recetasnatura.com.ar/empanadas-con-relleno-de-soja-texturizada" target="_blank">Leer receta similar en <strong>Recetas de Natura</strong></a>
    <br>
    <a href="receta2.html" target="_blank">Leer receta de falafel</a>
    <br>
    <a href="../../Index.html" target="_blank">Volver al <strong>Inicio</strong></a>
</body>
</html>